#standard stuff
*.obj
*.o
*.pch
*.dll
*.a
*.lib
*.pdb
*.exe
*.out
*.log

#directories
.idea/
.vs/
.vscode/
build/
install/
scratch/
test/temp/

!assimp-vc143-mt.dll
!assimp-vc143-mt.lib
!assimp-vc143-mt.exp
!assimp-vc143-mt.pdb